<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Sistema Administrativo</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"></link>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
            alt="">
        <a class="navbar-brand" href="/administrativo">Sistema Administrativo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <form action="/salvarEdicaoUsuarioAdmin" th:object="${usuarios_admin}" method="POST" style="display: flex; flex-direction: column; align-items: center; max-width: 400px; width: 100%;">
			<h2 style="margin-bottom: 20px; text-align: center;">Alterar Funcionário</h2>
            <div class="form-group" style="width: 100%;">
				<input type="hidden" th:field="*{id}" />
				
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" th:field="*{nome}" required style="width: 100%;"/>

                <label for="gmail">Gmail</label>
                <input type="email" class="form-control" id="gmail" th:field="*{gmail}" required style="width: 100%;"/>

                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="cpf" th:field="*{cpf}" required style="width: 100%;"/>

                <label for="grupo">Grupo</label>
                <select class="form-control" id="grupo" th:field="*{grupo}" required style="width: 100%;">
                    <option
                        th:each="g : ${T(com.brasileiraostore.brasileiraostore.modelos.UsuarioAdmin.Grupo).values()}"
                        th:value="${g}" th:text="${g}"></option>
                </select>
            </div>
            <a><button type="submit" class="btn btn-primary">Salvar</button></a>
        </form>
    </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>
			$(document).ready(function(){
			  $('#cpf').mask('999.999.999-99');
			});
		</script>
</body>

</html>