<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Sistema Administrativo</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"></link>
	<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
            alt="">
        <a class="navbar-brand" href="/administrativo">Sistema Administrativo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container">
        <table class="table table-striped table-bordered" id="tabela">
            <thead class="bg-primary" style="color: white">
                <tr>
                    <td class="text-center">ID</td>
                    <td class="text-center">Nome</td>
                    <td class="text-center">Gmail</td>
                    <td class="text-center">CPF</td>
                    <td class="text-center">Grupo</td>
                    <td class="text-center">Status</td>
                    <td class="text-center">Ação</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuarios_admin: ${listaUsuarios}">
                    <td class="text-center" th:text="${usuarios_admin.id}"></td>
                    <td class="text-center" th:text="${usuarios_admin.nome}"></td>
                    <td class="text-center" th:text="${usuarios_admin.gmail}"></td>
                    <td class="text-center" th:text="${usuarios_admin.cpf}"></td>
                    <td class="text-center" th:text="${usuarios_admin.grupo}"></td>
                    <td class="text-center" th:text="${usuarios_admin.status}"></td>
                    <td colspan="2">
                        <a class="text-center" th:href="@{/editarUsuarioAdmin/{id}(id=${usuarios_admin.id})}"><i class="fa-solid fa-pen-to-square" style="color: primary;"></i></a>
                        <a class="text-center" th:href="@{/alterarStatusUsuarioAdmin/{id}(id=${usuarios_admin.id})}">Alterar</a>
                    </td>
                </tr>
            </tbody>
        </table>
			<a class="btn btn-primary" href="/cadastroUsuarioAdmin"><i class="fa-solid fa-plus"></i> Cadastrar</a>
    </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
	<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
	<script>
		$(document).ready( function () {
		    $('#tabela').DataTable();
		} );
		var table = new DataTable('#tabela', {
		    language: {
		        url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/pt-BR.json'
		    },
		});
	</script>
</body>

</html>